{% extends 'users/base.html' %}
{% load static %}
{% block content %}
{% block title %}Dashboard Overview{% endblock %}
<div class="wrapper">
    <div class="dashboard-group">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="user-dt">

                        {% if user_profile.ImageURL == '' %}
                        <div class="user-img">
                            <img src="{% static './users/images/avatar/img-5.jpg' %}" alt="">
                        </div>
                        {% else %}
                        <div class="user-img">
                            <img src="{{user_profile.ImageURL}}" alt="">
                        </div>
                        {% endif %}

                        <h4>{{request.user}}</h4>
                        <div class="earn-points"><img src="{% static 'users/images/Dollar.svg' %}" alt="">Refferal Link : <span
                            style="color: blue;"><a>{{ request.META.HTTP_HOST }}/{{"reffral_signup"}}/{{customer_details.refferal_code}}</a></span>
                        </div>
                        <div><br>
                            <span class="earn-points">Total {{refferd_users_count}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="left-side-tabs">
                        <div class="dashboard-left-links">
                            <a href="{% url 'user_dashboard' %}" class="user-item active"><i
                                    class="uil uil-apps"></i>Overview</a>
                            <a href="{% url 'user_profile' request.user.id %}" class="user-item"><i
                                    class="uil uil-apps"></i>Profile</a>
                            <a href="{% url 'my_orders' %}" class="user-item"><i class="uil uil-box"></i>My
                                Orders</a>
                            <a href="{% url 'rewards' %}" class="user-item"><i class="uil uil-gift"></i>My
                                Rewards</a>
                            <a href="{% url 'wallet' %}" class="user-item"><i class="uil uil-wallet"></i>My
                                Wallet</a>
                            <a href="{% url 'wishlist' %}" class="user-item"><i class="uil uil-heart"></i>Shopping
                                Wishlist</a>
                            <a href="{% url 'my_address' %}" class="user-item"><i class="uil uil-location-point"></i>My
                                Address</a>
                            <a href="{% url 'logout' %}" class="user-item"><i class="uil uil-exit"></i>Logout</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="dashboard-right">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-title-tab">
                                    <h4><i class="uil uil-apps"></i>Overview</h4>
                                </div>
                                <div class="welcome-text">
                                    <h2>Hi! {{request.user}}</h2>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="pdpt-bg">
                                    <div class="pdpt-title">
                                        <h4>My Rewards</h4>
                                    </div>
                                    <div class="ddsh-body">
                                        <h2>6 Rewards</h2>
                                        <ul>
                                            <li>
                                                <a href="#" class="small-reward-dt hover-btn">Won $2</a>
                                            </li>
                                            <li>
                                                <a href="#" class="small-reward-dt hover-btn">Won 40% Off</a>
                                            </li>
                                            <li>
                                                <a href="#" class="small-reward-dt hover-btn">Caskback $1</a>
                                            </li>
                                            <li>
                                                <a href="#" class="rewards-link5">+More</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'rewards' %}" class="more-link14">Rewards and Details <i
                                            class="uil uil-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="pdpt-bg">
                                    <div class="pdpt-title">
                                        <h4>My Orders</h4>
                                    </div>
                                    <div class="ddsh-body">
                                        <h2>2 Recently Purchases</h2>
                                        <ul class="order-list-145">
                                            <li>
                                                <div class="smll-history">
                                                    <div class="order-title">2 Items <span data-inverted=""
                                                            data-tooltip="2kg broccoli, 1kg Apple"
                                                            data-position="top center">?</span></div>
                                                    <div class="order-status">On the way</div>
                                                    <p>$22</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'my_orders' %}" class="more-link14">All Orders <i
                                            class="uil uil-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="pdpt-bg">
                                    <div class="pdpt-title">
                                        <h4>My Wallet</h4>
                                    </div>
                                    <div class="wllt-body">
                                        <h2>Credits $100</h2>
                                        <ul class="wallet-list">
                                            <li>
                                                <a href="#" class="wallet-links14"><i
                                                        class="uil uil-card-atm"></i>Payment Methods</a>
                                            </li>
                                            <li>
                                                <a href="#" class="wallet-links14"><i class="uil uil-gift"></i>3
                                                    offers Active</a>
                                            </li>
                                            <li>
                                                <a href="#" class="wallet-links14"><i class="uil uil-coins"></i>Points
                                                    Earning</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'rewards' %}"  class="more-link14">Rewards and Details <i
                                            class="uil uil-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}