{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Otp Verify</title>

    <link rel="icon" type="image/png" href="images/fav.png">

    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link href="{% static '/users/vendor/unicons-2.0.1/css/unicons.css' %}"rel='stylesheet'>
    <link href="{% static 'users/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'users/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'users/css/night-mode.css' %}" rel="stylesheet">
    <link href="{% static 'users/css/step-wizard.css' %}" rel="stylesheet">

    <link href="{% static 'users/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'users/vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'users/vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'users/vendor/semantic/semantic.min.css' %}">
</head>

<body>
    <div class="sign-inup">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="sign-form">
                        <div class="sign-inner">

                            <div class="form-dt">
                                <div class="form-inpts checout-address-step">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-title">
                                            <h6>Otp Verify</h6>
                                        </div>
                                        <div class="form-group pos_rel text-center">
                                            <label class="control-label">Enter Code</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter Otp" required>
                                                 </div>
                                        </div>
    
                                        <button class="login-btn hover-btn" type="submit">Verify</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'users/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'users/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'users/vendor/OwlCarousel/owl.carousel.js' %}"></script>
    <script src="{% static 'users/vendor/semantic/semantic.min.js' %}"></script>
    <script src="{% static 'users/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'users/js/custom.js' %}"></script>
    <script src="{% static 'users/js/product.thumbnail.slider.js' %}"></script>
    <script src="{% static 'users/js/offset_overlay.js' %}"></script>
    <script src="{% static 'users/js/night-mode.js' %}"></script>
</body>


</html>




{% endblock content %}